@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* //this is for my singlePage reviews/products */
.reviewProductDisplay {
  margin-top: 20px;
}

.review-item {
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  border-radius: 8px;
}

.reviews-list {
  margin-top: 20px;
}

/* End here */

/* styling for reviews */
.review-item {
  border: 1px solid #ddd;
  padding: 16px;
  border-radius: 8px;
  transition: box-shadow 0.3s ease;
}

.review-item:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.review-item img {
  border-radius: 8px;
  margin-bottom: 8px;
}

button {
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
}

button:focus {
  outline: none;
}

/* END */